body {
    counter-reset: section;
    box-sizing: border-box;
    font-size: 1.125rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #426584;
}

h1,
h2 {
    margin-top: 0;
}


h2 {

    font-size: 2rem;
}

img {
    width: 512px;
    height: auto;
    border-radius: 10px;
}

.card-container {

    max-width: 550px;
    margin: 16px auto;

}

p {
    line-height: 1.7rem;
}

.recipe-description,
.ingredients-container,
.steps-container {
    background-color: white;
    padding: 24px;
    border-radius: 10px;

    -webkit-box-shadow: 10px 10px 34px 5px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 34px 5px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 34px 5px rgba(0, 0, 0, 0.28);
}

.ingredients-container {
    margin: 24px 0
}

.ingredients,
.steps {
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.ingredients {
    list-style: none;
}

.ingredients li::before {
    content: "• ";
    color: #D8A25E;
}


.steps {
    list-style: none;
}

.steps li::before {
    counter-increment: section;
    content: "Step " counter(section);
    font-size: 1.3rem;
    font-weight: bolder;
    display: block;
}

.steps li {
    padding-bottom: 1em;
}